.map {
    background: linear-gradient(rgb(133, 164, 204) 0, rgb(208, 229, 242) 100%);
    display: flex;
    width: 7000px;
    height: 350px;
    position: relative;
    border-bottom: 100px solid black;
}

.sky {
    position: absolute;
    width: 7000px;
    height: 350px;
    background: linear-gradient(rgb(133, 164, 204) 0, rgb(208, 229, 242) 100%);
}

.cloud1 {
    position: absolute;
    background: url(img/cloud1.png);
    background-size: cover;
}

.cloud2 {
    position: absolute;
    background: url(img/cloud2.png);
    background-size: cover;
}

.cloud2 {
    position: absolute;
    background: url(img/cloud3.png);
    background-size: cover;
}

.cloud4 {
    position: absolute;
    background: url(img/cloud4.png);
    background-size: cover;
}

.cloud5 {
    position: absolute;
    background: url(img/cloud5.png);
    background-size: cover;
}

.obstacle {
    position: absolute;
    background: url(img/brick.png);
    width: 80px;
    align-self: flex-end;
    z-index: 50;
}

#player {
    width: 105px;
    height: 105px;
    background: url('img/spritestrip.png');
    align-self: flex-end;
    z-index: 200;
    position: absolute;
}

.scaleXrotate {
    transform: scaleX(-1);
}

/*####################PONIŻEJ LINIE POMOCNICZE ######################*/

.window {
    height: 450px;
    width: 1100px;
    border: 2px solid greenyellow;
    overflow: hidden;
}