.map {
    background-color: darkgrey;
    display:flex;
    width: 7000px;
    height: 350px;
}
.sky {
    width: 7000px;
    height: 350px;
    background:linear-gradient(rgb(133,165,204) 0, rgb(208,228,242) 100%);
}
.cloud {
    position: absolute;
    background: url(img/cloud1.png);
    background-size: cover;
}
.obstacle {
    position: absolute;
    background-color: white;
    width: 80px;
    align-self: flex-end;
    z-index: 20;
}

/*####################PONIŻEJ LINIE POMOCNICZE ######################*/
.odnosnik {
    background-color: black;
    height: 100px;
    width: 7000px;
}
.linia {
    margin-left: 198px;
    height: 50px;
    width: 2px;
    background-color: red;
    float: left;
}